<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReSUP_v1._2.Properties.Settings.dbConnect" connectionString="Data Source=.;Initial Catalog=TvBagApp;Persist Security Info=True;User ID=sa;Password=epilef"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>